<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Document</title>
    {% block title %}{% endblock %}
</head>
<body>
    {% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,mesg in messages %}
            {% if category == "success" %}
                <div class="alert alert-success col-15 mt-2 py-2 "role="alert">
                    {{ mesg }}
                </div>
            {% elif category == "error" %}
                <div class="alert alert-danger col-15 mt-2 py-2 " role="alert">
                    {{ mesg }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
    {% endblock %}
</body>
</html>